@import url('./_black/_black.css');

.header__logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 1.11rem;
  line-height: 1.33rem;
  align-items: center;

  margin-left: 5.78rem;

}

@media screen and (max-width: 700px)  {
  .header__logo {
    font-size: 16px;
    margin-left: 16px;
    }
}

@media screen and (max-width: 1400px)  {
  .header__logo {
    margin-left: 40px;
    }
}
