@import url('./_black/_black.css');

.header__logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 1.11rem;
  line-height: 1.33rem;
  align-items: center;
  margin-left: 5.78rem;
}

@media (max-width: 700px)  {
  .header__logo {
    margin-left: 16px;
    font-size: 16px;
    }
}

@media (max-width: 1200px)  {
  .header__logo {
    margin: 40px;
    }
}
