.button.popup__button {
  width: 100%;
  margin-top: 26px;
  padding: 0;
  background: #E6E8EB;
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
}


.button.button__button_active {
  background-color: black;
  color: white;
}
