.saved-articles__category {
  background-color: white;
  position: absolute;
  left: 1.33rem;
  top: 1.33rem;
  border: none;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 8px 15px;
}

@media (max-width: 1220px) {
  .saved-articles__category {
    position: absolute;
    left: 8px;
    top: 8px;
  }
}

@media (max-width: 700px) {
  .saved-articles__category {
    position: absolute;
    left: 16px;
    top: 16px;
  }
}