.saved-articles__image {
  height: 15.11rem;
  width: 100%;
  background-image: url('../../../images/park2.png');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.saved-articles__image2 {
  background-image: url('../../../images/ogonki2.png');
}

.saved-articles__image3 {
  background-image: url('../../../images/taiga2.png');
}

@media (max-width: 1220px) {
  .saved-articles__image {
    width: 224px;
    height: 150px;
  }
}

@media (max-width: 700px) {
  .saved-articles__image {
    width: 288px;
    height: 196px;
  }
}