
.header__menu_logged-in .link.link:nth-child(3)  {
  display: none;
}

.header__menu_logged-in .link.link:nth-child(n+4)  {
  display: flex;
}

@media (max-width: 1200px)  {
  .header__menu.header__menu_logged-in {
    margin-right: 40px;
    }
}
