.swiper-wrapper_ad {
  margin-bottom: 53px;
}

@media (max-width: 1200px)  {
  .swiper-wrapper_ad {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px)  {
  .swiper-wrapper_ad {
    margin-bottom: 21px;
  }
}
