.copiright {
  margin-left: 104px;
  color: #B6BCBF;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 1220px)  {
  .copiright {
    margin-left: 40px;
    font-size: 16px;
    line-height: 22px;
    }
}

@media (max-width: 700px)  {
  .copiright {
    order: 3;
    margin: 15px auto 22px 16px;
    }
}

