.search__title {
  
  font-style: normal;
  font-weight: normal;
  font-size: 3.33rem;
  line-height: 3.56rem;
  width: 60%;
  padding: 0;
  margin: 4.44rem auto 0 0;
  }

  @media (max-width: 1220px) {
    .search__title {
      font-size: 36px;
      line-height: 40px;
      width: 385px;
      margin: 38px auto 0 0;
    }
  }

  @media (max-width: 700px)  {
    .search__title {
      font-size: 36px;
      line-height: 40px;
      width: 250px;
      margin: 30px auto 0 19px;
    }
  }
  