.search__form {
  width: 33.78rem;
  height: 3.56rem;
  background: #FFF;

  box-sizing: border-box;
  border-radius: 5.56rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3.61rem auto 4.44rem 0;
}

@media (max-width: 1220px) {
  .search__form {
    width: 448px;
    height: 56px;
    margin: 48px auto 48px 0;
  }
}
