.search__form {
  width: 608px;
  height: 64px;
  background: #FFF;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5.56rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3.61rem auto 4.44rem 0;
}

@media (max-width: 1220px) {
  .search__form {
    width: 448px;
    height: 56px;
    margin: 48px auto 48px 0;
  }
}

@media (max-width: 700px) {
  .search__form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    margin: 124px 0 0 0; 
    height: auto;
    padding-bottom: 32px;
  }
}
