.search__button {
  width: 27.6%;
  height: 100%;
  background: #2F71E5;
  border-radius: 5.56rem;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  color: #FFF;
}

.search__button:hover {
  background: #347EFF;
}

.search__button:active {
  background: #2A65CC;
}

@media (max-width: 1220px) {
  .search__button {
    width: 160px;
    height: 56px;
  }
}

@media (max-width: 700px) {
  .search__button {
    width: 288px;
    height: 56px;
    margin: 16px 16px 0 16px;
    padding: 17px 16px 17px 16px;
    border-radius: 100px;
  }
}