.swiper-pagination__ad {
  position: relative;
}

@media (max-width: 1220px)  {
  .swiper-pagination__ad {
    padding-bottom: 24px;
    position: absolute;
  }
}

@media (max-width: 700px)  {
  .swiper-pagination__ad {
    padding-bottom: 9px;
    margin-bottom: 0;
    position: relative;
  }
}
