.about-author__text {
/*   width: 33.33rem; */
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1220px)  {
  .about-author__text {
      width: auto;
      margin-right: 40px;
      margin-top: 0;
      }
}


@media screen and (max-width: 700px)  {
  .about-author__text {
    margin: 18px 0 24px 0;
    font-size: 18px;
    line-height: 24px;
  }
}
