.link.link_header:nth-child(2n+3){
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 100px;
  height: 2.67rem;
  padding: 0.67rem 0.67rem 0.67rem 0.83rem;
  font-size: 1rem;
  line-height: 1.33rem;
}

