@import url('./__menu/__menu.css');

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #1A1B22;
}

@media (max-width: 1200px)  {
  .footer {
    height: 66px;
    }
}

@media (max-width: 700px)  {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding-top: 15px;
    align-items: flex-start;
  }
}
