@import url('./__image/__image.css');
@import url('./__date/__date.css');
@import url('./__text/__text.css');
@import url('./__source/__sourse.css');
@import url('./__title/__title.css');
@import url('./__category/__category.css');

.card {
  position: relative;
  width: 22.22rem;
  height: 32rem;
  margin: 0 .89rem .89rem 0;
  cursor: pointer;
  background-color: white;
  border-radius: .89rem;
}

@media (max-width: 1220px) {
  .card {
    width: 224px;
    height: 420px;
    margin: 0 8px 8px 0;
  }
}

@media (max-width: 700px) {
  .card {
    width: 288px;
    height: 440px;
    margin: 0 auto 12px auto;
  }
}
