.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
}

@media (max-width: 430px) {
  .popup__content {
    margin-top: 56px;
    width: 100%;
    padding: 16px 16px 150px 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
