@import url('./_footer/_footer.css');
@import url('./_header/_header.css');

.link {
  display: block;
  font-style: normal;
  color: #FFF;
  text-decoration: none;
  margin: 0 0.67rem 0 0.83rem;
  align-items: center;
  padding: 1.67rem 0 1.44rem 0;
}

.link:hover {
  box-sizing: border-box;
  border-bottom: 3px solid;
  padding: 1.67rem 0 1.28rem 0;
}
