@import url('./_footer/_footer.css');
@import url('./_header/_header.css');
@import url('./_white/_white.css');

.link {
  display: block;
  font-style: normal;
  text-decoration: none;
  margin: 0 1.89rem 0 0;
  align-items: center;
  padding: 30px 0 26px 0;
}

.link:hover {
  box-sizing: border-box;
  border-bottom: 3px solid;
  padding: 30px 0 23px 0;
}

.link:visited {
  color: #B6BCBF;
}

@media (max-width: 1220px)  {
  .link {
    font-size: 16px;
    margin: 0 0 0 0;
    }
}
