.icon__message {
  background-color: white;
  position: absolute;
  right: 3.83rem;
  top: 1.33rem;
  border: none;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 13px 13px;
  display: block;
  opacity: 0;
  z-index: 10;
}
