.card__image {
  height: 15.11rem;
  width: 100%;
  background-image: url('../../../images/park.png');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}



.card__image_ogonki{
  background-image: url('../../../images/ogonki.png');
}

.card__image_taiga {
  background-image: url('../../../images/taiga.png');
}

@media (max-width: 1220px) {
  .card__image {
    width: 224px;
    height: 150px;
  }
}

@media (max-width: 700px) {
  .card__image {
    width: 288px;
    height: 196px;
  }
}
