.about-author__title {
  margin: 7.28rem 0 1.33rem 0;
}

@media (max-width: 1220px)  {
  .about-author__title {
    margin: 45px 0 16px 0;
    }
}

@media screen and (max-width: 700px)  {
  .about-author__title {
    margin: 0 16px;
  }
}
