.swiper-slide__email {
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 2rem 0 0 0;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;
}

@media (max-width: 1200px)  {
  .swiper-slide__email {
    margin: 30px 0 0 0;
  }
}
