@import url('./_logged-in.css/_logged-in.css');

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5.78rem;
    align-items: center;
}

@media screen and (max-width: 500px)  {
    .header__menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
        }
}

.link:nth-child(n+4)  {
  display: none;
}

