@import url('./_logged-in/_logged-in.css');
@import url('./_footer/_footer.css');

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5.78rem;
    align-items: center;
}

.link:nth-child(n+4)  {
  display: none;
}

@media (max-width: 1220px)  {
  .header__menu {
    margin-right: 20px;
    }
}

@media (max-width: 700px)  {
  .header__menu {
    display: none;
    margin: 0;
    }
}
