.swiper-slide_ad {
  width: 400px;
  min-height: 210px;
  background: #fff;
  padding: 16px 24px 58px 24px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 16% auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}



@media (max-width: 1200px)  {
  .swiper-slide_ad {
    background: #fff;
    padding: 26px 16px 6px 24px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 22px 48px 88px;
    grid-column-gap: 12px;
    grid-row-gap: 19px 17px;
  }
}

@media (max-width: 700px)  {
  .swiper-slide_ad {
    width: 288px;
    background: #fff;
    padding: 26px 16px 6px 24px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 22px 48px 130px;
    grid-column-gap: 12px;
    grid-row-gap: 19px 17px;
  }
}
