.about-author__p {
  width: 33.33rem;
  margin-bottom: 1.5rem;
}

/* переход от 1420px до 768px */
@media screen and (max-width: 1220px)  {
  .about-author__p {
      width: auto;
      margin-right: 40px;
      margin-top: 0;
      }
}

/* переход от 768px до 320px */
@media screen and (max-width: 760px)  {
  .about-author__p {
      width: 90%;
      }
}
