@media (max-width: 1200px)  {
  .header__menu.header__menu_footer {
    margin-right: 80px;
    }
}

@media (max-width: 700px)  {
  .header__menu.header__menu_footer  {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    }
}
