.about-author__description {
  max-width: 50%;
}

@media (max-width: 1000px)  {
  .about-author__description {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px)  {
  .about-author__description {
    max-width: 100%;
    margin: 0 16px;
  }
}
