@import url('./blocks/header/header.css');
@import url('./blocks/search/search.css');
@import url('./blocks/search-results/search-results.css');
@import url('./blocks/no-results/no-results.css');
@import url('./blocks/preloader/preloader.css');
@import url('./blocks/searching/searching.css');
@import url('./blocks/about_author/about_author.css');
@import url('./blocks/card/card.css');
@import url('./blocks/cards/cards.css');
@import url('./blocks/main/main.css');
@import url('./blocks/link/link.css');
@import url('./blocks/icon/icon.css');
@import url('./blocks/circle-preloader/circle-preloader.css');
@import url('./blocks/copiright/copiright.css');
@import url('./blocks/logos/logos.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/error-message/error-message.css');
@import url('./blocks/button/button.css');
@import url('./blocks/invisible/invisible.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/mobile-menu/mobile_menu.css');

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
	src: url('https://pictures.s3.yandex.net/frontend-developer/fonts/roboto-medium-webfont.woff');
  font-family: 'Roboto Medium';
}

@font-face {
	src: url('https://pictures.s3.yandex.net/frontend-developer/fonts/roboto-regular-webfont.woff');
	font-family: 'Roboto';
}

@font-face {
	src: url('https://pictures.s3.yandex.net/frontend-developer/fonts/robotoslab-regular-webfont.woff');
  font-family: 'Roboto Slab';
}

/* div, h1, h2,h3, h4, h5, h6, p, a, section, img, footer, header,
nav, form, input, button {
    border-style: solid;
    border-color: red;
    border-width: 1px;
} */

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  max-width: 1440px;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items : center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

h2 {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 2.22rem;
  line-height: 2.56rem;
  color: #1A1B22;
}

h3 {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 1.44rem;
  line-height: 1.67rem;
  color: #1A1B22;
}

p {
  font-size: 1rem;
  line-height: 1.33rem;
}

@media (max-width: 1220px) {
  h2 {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 1220px) {
  h3 {
    font-size: 22px;
    line-height: 24px;
  }
}
