@import url('./__avatar/__avatar.css');
@import url('./__h/__h.css');
@import url('./__p/__p.css');

.about-author {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  margin: 0 auto 0 0;
}
