@import url('./__avatar/__avatar.css');
@import url('./__title/__title.css');
@import url('./__description/__description.css');
@import url('./__text/__text.css');
@import url('./_main/_main.css');


.about-author {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  margin: 0 auto 0 0;
  flex-wrap: nowrap;
}

@media screen and (max-width: 700px)  {
  .about-author {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
