@import url('./__logo/__logo.css');
@import url('./__menu/__menu.css');
@import url('./__mobile-button/__mobile-button.css');

.header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  color: #FFF;
}

@media (max-width: 1200px)  {
  .header {
    height: 66px;
    }
}

@media (max-width: 700px)  {
  .header {
    height: 56px;
    }
}
