@import url('./__pic/__pic.css');
@import url('./__ref/__ref.css');

.logos {
  margin-right: 4.33rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

@media (max-width: 1100px) {
  .logos {
    margin-right: 17px;
  }
}


@media (max-width: 700px) {
  .logos {
    margin: 7px 18px auto auto;
  }
}
