.link.link_footer {
  color: #1A1B22;
  margin: 0;
  padding: 1.67rem 23px 1.46rem 23px;
}

.link.link_footer:nth-child(3) {
  margin-right: -65px;
}

.link.link_footer:hover {
  padding: 1.67rem 23px 1.46rem 23px;
  border-bottom: 0;
}

@media (max-width: 1200px)  {
  .link.link_footer {
    padding: 1.67rem 0 1.46rem 23px;
    font-size: 18px;
    }
}

@media (max-width: 700px)  {
  .link.link_footer {
    padding: 0 0 26px 16px;
    margin-right: auto;
    }
}
